---
title: Custom Helpers
message: This is a message from the YAML front matter.
---
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

{{{myHelper 'This is an inline message.'}}}
{{{myHelper message}}}
