[submodule "src/assets/submodule/magic"]
	path = src/assets/submodule/magic
	url = https://github.com/miniMAC/magic.git
[submodule "src/assets/submodule/flot"]
	path = src/assets/submodule/flot
	url = https://github.com/flot/flot.git
[submodule "src/assets/submodule/mousewheel"]
	path = src/assets/submodule/mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
[submodule "src/assets/submodule/tablesorter"]
	path = src/assets/submodule/tablesorter
	url = https://github.com/Mottie/tablesorter.git
