[submodule "assets/magic"]
	path = assets/magic
	url = https://github.com/miniMAC/magic.git
[submodule "assets/gmaps"]
	path = assets/gmaps
	url = https://github.com/HPNeo/gmaps.git
[submodule "assets/chosen"]
	path = assets/chosen
	url = https://github.com/harvesthq/chosen.git
[submodule "assets/flot"]
	path = assets/flot
	url = https://github.com/flot/flot.git
[submodule "assets/wysihtml5"]
	path = assets/wysihtml5
	url = https://github.com/jhollingworth/bootstrap-wysihtml5.git
[submodule "assets/plupload"]
	path = assets/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "assets/Font-awesome"]
	path = assets/Font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/animate"]
	path = assets/animate
	url = https://github.com/daneden/animate.css.git
[submodule "assets/uniform"]
	path = assets/uniform
	url = https://github.com/pixelmatrix/uniform.git
[submodule "assets/validation-engine"]
	path = assets/validation-engine
	url = https://github.com/posabsolute/jQuery-Validation-Engine.git
[submodule "assets/validation"]
	path = assets/validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "assets/pagedown-bootstrap"]
	path = assets/pagedown-bootstrap
	url = https://github.com/samwillis/pagedown-bootstrap.git
[submodule "assets/formwizard"]
	path = assets/formwizard
	url = https://github.com/thecodemine/formwizard.git
[submodule "assets/bootstrap-timepicker"]
	path = assets/bootstrap-timepicker
	url = https://github.com/jdewit/bootstrap-timepicker.git
[submodule "assets/gritter"]
	path = assets/gritter
	url = https://github.com/jboesch/Gritter.git
[submodule "assets/Bootstrap-Confirmation"]
	path = assets/Bootstrap-Confirmation
	url = https://github.com/ethaizone/Bootstrap-Confirmation.git
