---
topTitle: Components
title: Bg Color
icon: fa fa-barcode
---
<style>
  ul.list-unstyled li {height: 50px; line-height:50px;}
</style>
<h3>Background Color</h3>
<div class="row">
  <div class="col-sm-3">
    <ul class="list-unstyled bg-primary">
      <li>.bg-primary</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
    <div class="col-sm-3">
    <ul class="list-unstyled bg-success">
      <li>.bg-success</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
   <div class="col-sm-3">
    <ul class="list-unstyled bg-danger">
      <li>.bg-danger</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
  
      <div class="col-sm-3">
    <ul class="list-unstyled bg-info">
      <li>.bg-info</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
  
      <div class="col-sm-3">
    <ul class="list-unstyled bg-warning">
      <li>.bg-warning</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
  
      <div class="col-sm-3">
    <ul class="list-unstyled bg-black">
      <li>.bg-black</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
  
      <div class="col-sm-3">
    <ul class="list-unstyled bg-dark">
      <li>.bg-dark</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
  
      <div class="col-sm-3">
    <ul class="list-unstyled bg-light">
      <li>.bg-light</li>
      <li class="dker">.dker</li>
      <li class="dk">.dk</li>
      <li class="lt">.lt</li>
      <li class="lter">.lter</li>
    </ul>
  </div>
  <!-- /.col-sm-3 -->
</div>
<!-- /.row -->