---
title: Boxed Layout
topTitle: Layouts
icon: bi bi-building
boXed: true
cdncss:
- https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism.min.css
cdnjs:
- https://cdn.jsdelivr.net/npm/prismjs/prism.min.js
---
<div class="container-fluid">
  <h2>Code</h2>
  {{#markdown}}
  ```html
  <body class="container">
    ...
  </body>
  ```
  {{/markdown}}

</div>