---
title: Boxed Layout
topTitle: Layouts
icon: fa fa-building
boXed: true
cdncss:
- https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css
cdnjs:
- https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js
---
<h2>Code</h2>
{{#markdown}}
```markup
<body class="boxed">
...
</body>
```
{{/markdown}}
