---
title: Boxed Layout
topTitle: Layouts
icon: fa fa-building
boXed: true
cdncss:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js
---
<h2>Code</h2>
{{#markdown}}
```markup
<body class="boxed">
...
</body>
```
{{/markdown}}