---
title: Charts
icon: fa fa-bar-chart
stylesheets:
- lib/animate/animate.min.css
cdnjs:
- //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
javascripts:
- lib/flot/jquery.flot.js
- lib/flot/jquery.flot.pie.js
- lib/flot/jquery.flot.selection.js
- lib/flot/jquery.flot.resize.js
scripts: $(function() { metisChart(); });
---
<div class="row">
<div class="col-lg-6">
	<div class="box">
		<div class="body">
			<div id="trigo" style="height: 250px;"></div>
			<!-- /#trigo -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-6 -->


<div class="col-lg-6">
	<div class="box">
		<div class="body">
			<div id="eye" style="height: 250px;"></div>
			<!-- /#eye -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-6 -->
</div>
<!-- /.row -->


<div class="row">
<div class="col-lg-5">
	<div class="box">
		<div class="body">
			<div id="trigo2" style="height: 250px;"></div>
			<!-- /#trigo2 -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-5 -->


<div class="col-lg-3">
	<div class="box">
		<div class="body">
			<div id="heart" style="height: 250px;"></div>
			<!-- /#heart -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-3 -->


<div class="col-lg-4">
	<div class="box">
		<div class="body">
			<div id="bernoilli" style="height: 250px;"></div>
			<!-- /#bernoilli -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
