---
title: Charts
icon: fa fa-bar-chart
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js
- //cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js
scripts:
- Metis.MetisChart()
---
<div class="row">
<div class="col-lg-6">
	<div class="box">
		<div class="body">
			<div id="human" style="height: 250px;"></div>
			<!-- /#human -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-6 -->


<div class="col-lg-6">
	<div class="box">
		<div class="body">
			<div id="eye" style="height: 250px;"></div>
			<!-- /#eye -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-6 -->
</div>
<!-- /.row -->


<div class="row">
<div class="col-lg-5">
	<div class="box">
		<div class="body">
			<div id="bar" style="height: 250px;"></div>
			<!-- /#bar -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-5 -->


<div class="col-lg-3">
	<div class="box">
		<div class="body">
			<div id="heart" style="height: 250px;"></div>
			<!-- /#heart -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-3 -->


<div class="col-lg-4">
	<div class="box">
		<div class="body">
			<div id="bernoilli" style="height: 250px;"></div>
			<!-- /#bernoilli -->
		</div>
		<!-- /.body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
