---
title: Fixed Header
topTitle: Layouts
icon: fa fa-building
fixedNav: true
cdncss:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js
---
<h2>Code</h2>
{{#markdown}}
```markup
<nav class="navbar navbar-inverse navbar-fixed-top">
...
</nav>
```
{{/markdown}}