---
topTitle: Forms
title: Form General
icon: fa fa-pencil
styleName: alterne

cdncss:
- https://cdn.jsdelivr.net/npm/jquery-inputlimiter/jquery.inputlimiter.css
- https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css
cdnjs:
- https://cdn.jsdelivr.net/npm/moment/moment.min.js
- https://cdn.jsdelivr.net/npm/jquery-inputlimiter/jquery.inputlimiter.min.js
- https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js
- https://cdn.jsdelivr.net/npm/jquery-autosize/jquery.autosize.min.js

scripts:
- Metis.formGeneral()
---

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Form controls</div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Sizing</div>
        <!-- /.card-header -->
        <div class="card-body">
          <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
            aria-label=".form-control-lg example">
          <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
          <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"
            aria-label=".form-control-sm example">
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Disabled</div>
        <!-- /.card-header -->
        <div class="card-body">
          <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example"
            disabled>
          <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example"
            disabled readonly>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Readonly</div>
        <!-- /.card-header -->
        <div class="card-body"><input class="form-control" type="text" value="Readonly input here..."
            aria-label="readonly input example" readonly></div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Readonly plain text</div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">Readonly 2</div>
        <!-- /.card-header -->
        <div class="card-body">
          <form class="row g-3">
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">File input</div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>
          <div class="mb-3">
            <label for="formFileDisabled" class="form-label">Disabled file input example</label>
            <input class="form-control" type="file" id="formFileDisabled" disabled>
          </div>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Small file input example</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
          <div>
            <label for="formFileLg" class="form-label">Large file input example</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg4 -->
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header">Color</div>
            <!-- /.card-header -->
            <div class="card-body">
              <label for="exampleColorInput" class="form-label">Color picker</label>
              <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c"
                title="Choose your color">
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card mb-3 -->
        </div>
        <!-- /.col-lg4 -->
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header">Datalists</div>
            <!-- /.card-header -->
            <div class="card-body">
              <label for="exampleDataList" class="form-label">Datalist example</label>
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
              <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
              </datalist>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card mb-3 -->
        </div>
        <!-- /.col-lg4 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header d-flex- gap-3 align-items-center">Select</div>
            <!-- /.card-header d-flex- gap-3 align-items-center -->
            <div class="card-body">
              <h5 class="mt-3">Default</h5>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <h5 class="mt-3">Sizing</h5>
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <h5 class="mt-3">Multiple</h5>
              <select class="form-select" multiple aria-label="multiple select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <h5 class="mt-3">Multiple with size</h5>
              <select class="form-select" size="3" aria-label="size 3 select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <h5 class="mt-3">Disabled</h5>
              <select class="form-select" aria-label="Disabled select example" disabled>
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card mb-3 -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

<!-- BEGIN CHECKBOX & RADIO -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <header class="card-header d-flex align-items-center gap-3">
          <i class="bi bi-check2-all"></i>
          <div class="vr"></div>
          <h5>Checkbox</h5>
        </header>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Checked checkbox
            </label>
          </div>

          <h5 class="card-title mt-5">Indeterminate</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Indeterminate checkbox
            </label>
          </div>

          <h5 class="card-title mt-5">Disabled</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
            <label class="form-check-label" for="flexCheckDisabled">
              Disabled checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexCheckCheckedDisabled">
              Disabled checked checkbox
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <header class="card-header d-flex align-items-center gap-3">
          <i class="bi bi-record2"></i>
          <div class="vr"></div>
          <h5>Radios</h5>
        </header>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Default checked radio
            </label>
          </div>

          <h5 class="card-title mt-5">Disabled</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
            <label class="form-check-label" for="flexRadioDisabled">
              Disabled radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked
              disabled>
            <label class="form-check-label" for="flexRadioCheckedDisabled">
              Disabled checked radio
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <header class="card-header d-flex align-items-center gap-3">
          <i class="bi bi-toggle-on"></i>
          <div class="vr"></div>
          <h5>Switches</h5>
        </header>
        <div class="card-body">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
            <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked
              disabled>
            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox
              input</label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
<!-- END CHECKBOX & RADIO -->


<!--BEGIN INPUT TEXT FIELDS-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3">
        <header class="card-header d-flex align-items-center gap-3">
          <i class="fa fa-edit"></i>
          <div class="vr"></div>
          <h5 class="m-0 p-0">Input limiter</h5>
          <!-- .toolbar -->
          {{> toolbar}}
          <!-- /.toolbar -->
        </header>
        <div class="card-body">

          <div class="mb-5">
            <label for="limiter" class="form-label">Input limiter</label>
            <textarea class="form-control" id="limiter"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center gap-3">
          <h5 class="m-0 p-0">Autosize</h5>
          <!-- /.m-0 p-0 -->
          {{> toolbar}}
        </div>
        <!-- /.card-header d-flex align-items-center gap-3 -->
        <div class="card-body">
          <div class="mb-5">
            <label for="autosize" class="form-label">Textarea with Autosize</label>
            <textarea class="form-control" id="autosize"></textarea>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center gap-3">
          <h5 class="m-0 p-0">TagsInput</h5>
          <!-- /.m-0 p-0 -->
          {{> toolbar}}
        </div>
        <!-- /.card-header d-flex align-items-center gap-3 -->
        <div class="card-body">
          <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="tags" value="foo,bar,baz">
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card mb-3 -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
