---
title: Grid
icon: fa fa-columns
cdncss:
- //cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css
- //cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.structure.min.css
- //cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.theme.min.css
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js
- //cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js
scripts:
- Metis.metisSortable()
---
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <header>
                <h5>.col-lg-12</h5>
                <div class="toolbar">
                    <span class="label">label</span>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-12&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-6 ">
        <div class="box">
            <header>
                <h5>.col-lg-6</h5>
                <div class="toolbar">
                    <span class="label label-success">label</span>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-6&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box">
            <header>
                <h5>.col-lg-6</h5>
                <div class="toolbar">
                    <div class="progress
                         progress-danger middle">
                        <div class="progress-bar" style="width: 57%"></div>
                    </div>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-6&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="box">
            <header>
                <h5>.col-lg-4</h5>
                <div class="toolbar">
                    <a href="#" rel="tooltip" data-placement="bottom" data-original-title="Link Tooltip">link</a>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-4&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <header>
                <h5>.col-lg-4</h5>
                <div class="toolbar">
                    <div class="progress mini">
                        <div class="progress-bar" style="width: 43%;"></div>
                    </div>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-4&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <header>
                <h5>.col-lg-4</h5>
                <div class="toolbar">
                    <button class="btn btn-xs btn-primary">mini button</button>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-4&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        <div class="box">
            <header>
                <h5>.col-lg-3</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                Dropdown
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Menu Link 1</a></li>
                                <li><a href="#">Menu Link 2</a></li>
                                <li><a href="#"><i class="icon-external-link"></i> Menu Link with icon</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Menu Linkk 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-3&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box">
            <header>
                <h5>.col-lg-3</h5>
                <div class="toolbar">
                    <button class="btn btn-danger btn-xs">button</button></div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-3&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box">
            <header>
                <h5>.col-lg-3</h5>
                <div class="toolbar"><input class="form-control input-sm" type="text" /></div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-3&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box">
            <header>
                <h5>.col-lg-3</h5>
                <div class="toolbar"><i class="icon-envelope"></i></div>
            </header>
            <div class="body">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-3&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-7">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-7&quot;&gt;&lt;/div&gt;</pre>
            </div>
            <div class="col-lg-5">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-5&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-6">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-6&quot;&gt;&lt;/div&gt;</pre>
            </div>
            <div class="col-lg-6">
                <pre class="prettyprint linenums">
&lt;div class=&quot;.col-lg-6&quot;&gt;&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
