---
layout: login
title: Locked
---
<div class="d-flex flex-column flex-fill">
    <div class="d-flex flex-column flex-lg-row flex-fill flex-shrink-0">
      <div class="d-flex flex-column p-3 bg-dark text-light text-center col col-lg-4 align-items-center justify-content-center">
        <a href="index.html" class="fs-1 text-warning text-decoration-none my-3">
        <img src="assets/img/logo.png" alt="Metis">
      </a>
        <h1>Locked</h1>
        <p class="py-5">
          Enter your password.
        </p>
        <div class="col-5 col-sm-6 col-lg-12 px-5">
          <img class="img-fluid" src="assets/img/undraw_unlock_-24-mb.a1daffb0.svg" alt="Metis Locked">
        </div>
      </div>
      <div class="d-flex flex-column bg-white col col-lg-8 align-items-center justify-content-center pt-3 pb-5">
        <form class="col-12 px-5 px-sm-0 col-sm-10 col-md-8 col-lg-6 col-xl-4">
          <div class="form-floating mb-3">
            <input autofocus type="password" class="form-control" id="exampleInputEmail1" placeholder="name@domain.com" aria-describedby="emailHelp">
            <label for="exampleInputEmail1" class="form-label">Password</label>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Re Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>