---
title: No Right Sidebar
topTitle: Layouts
icon: fa fa-building
noRightSidebar: true
cdncss:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css
cdnjs:
- //cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js
---
<h2>Code</h2>
{{#markdown}}
```markup
<a data-placement="bottom" data-original-title="Show / Hide Right" data-toggle="tooltip" class="btn btn-default btn-sm toggle-right hidden">
  <span class="glyphicon glyphicon-comment"></span>
</a>
```
{{/markdown}}