---
title: Panel
icon: fa fa-columns
---
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <p>Paragraph</p>

            <!-- List group -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->