---
layout: login
title: Register
---
  <div class="d-flex flex-column flex-fill">
    <div class="d-flex flex-column flex-lg-row flex-fill flex-shrink-0">
      <div class="d-flex flex-column p-3 bg-dark text-light text-center col col-lg-4 align-items-center justify-content-center">
        <a href="index.html" class="fs-1 text-warning text-decoration-none my-3">
        <img src="assets/img/logo.png" alt="Metis">
      </a>
        <h1>Welcome To Metis</h1>
        <p class="py-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Placeat doloremque consequatur natus assumenda minus nemo sint nam.
        </p>
        <div class="col-5 col-sm-6 col-lg-12">
          <img class="img-fluid" src="assets/img/undraw_sign_in_re_o58h.04ebc0cb.svg" alt="Metis Register">
        </div>
      </div>
      <div class="d-flex flex-column bg-white col col-lg-8 align-items-center justify-content-center pt-3 pb-5">
        <h2 class="my-3">Sign Up</h2>
        <p class="text-muted">Do have an account? <a class="link-info ms-3" href="login.html">Sign In</a></p>
        <form class="col-12 px-5 px-sm-0 col-sm-10 col-md-8 col-lg-6 col-xl-4">
          <div class="form-floating mb-3">
            <input autofocus type="email" class="form-control" id="exampleInputEmail1" placeholder="name@domain.com">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="***">
            <label for="exampleInputPassword1" class="form-label">Password</label>
          </div>
          <div class="d-flex mb-3 justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I agree to the Our </label>
              <a href="#exampleModal" class="link-info" data-bs-toggle="modal">
                User Agreement
              </a>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Agreement</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis explicabo aut cum quasi qui, voluptatem
              officia? Sapiente et, atque, rerum, harum tempore ab fuga quia saepe aperiam alias accusantium quaerat.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">I agree</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>