---
title: Table
icon: fa fa-table
cdncss:
- https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css
- https://cdn.jsdelivr.net/npm/jquery-ui-dist/jquery-ui.min.css
- https://cdn.jsdelivr.net/npm/tablesorter/dist/css/theme.bootstrap_4.min.css
cdnjs:
- https://cdn.jsdelivr.net/npm/jquery-ui-dist/jquery-ui.min.js
- https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js
- https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js
- https://cdn.jsdelivr.net/npm/tablesorter/dist/js/jquery.tablesorter.combined.min.js
scripts:
- Metis.MetisTable()
- Metis.metisSortable()
---

<div class="container-fluid">
<!--Begin Datatables-->
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <header class="card-header d-flex align-items-center">
                <div class="metis-ratio-square pe-2 me-2 border-end"><i class="bi bi-table"></i></div>
                <h5>Dynamic Table</h5>
                {{> toolbar}}
            </header>
            <div id="collapse4" class="card-body">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                    {{> dataTable}}
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!--End Datatables-->



<div class="row">
    <!-- .col-lg-6 -->
    <div class="col-lg-6">
        <div class="card mb-3">
            <header class="card-header d-flex">
                <h5>Default styles</h5>
                {{> toolbar}}
            </header>
            <div id="defaultTable" class="card-body">
                <table class="table responsive-table">
                    {{> tableBase}}
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->

    <!-- .col-lg-6 -->
    <div class="col-lg-6">
        <div class="card mb-3">
            <header class="card-header d-flex">
                <h5>Table Striped</h5>
                {{> toolbar}}
            </header>
            <div id="stripedTable" class="card-body">
                <table class="table table-striped responsive-table">
                    {{> tableBase}}
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>


<div class="row">
    <!-- .col-lg-6 -->
    <div class="col-lg-6">
        <div class="card mb-3">
            <header class="card-header d-flex">
                <h5>Table Bordered</h5>
                {{> toolbar}}
            </header>
            <div id="borderedTable" class="card-body">
                <table class="table table-bordered responsive-table">
                    {{> tableBase}}
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->

    <!-- .col-lg-6 -->
    <div class="col-lg-6">
        <div class="card mb-3">
            <header class="card-header d-flex">
                <h5>Table Condensed</h5>
                {{> toolbar}}
            </header>
            <div id="condensedTable" class="card-body">
                <table class="table table-condensed responsive-table">
                    {{> tableBase}}
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
    <div class="row">
        <!-- .col-lg-6 -->
        <div class="col-lg-6">
            <div class="card mb-3">
                <header class="card-header d-flex">
                    <h5>Optional row classes</h5>
                    {{> toolbar}}
                </header>
                <div id="optionalTable" class="card-body">
                    <table class="table responsive-table">
                        {{> tableBase}}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->

        <!-- .col-lg-6 -->
        <div class="col-lg-6">
            <div class="card mb-3">
                <header class="card-header d-flex">
                    <h5>Sortable Table</h5>
                    {{> toolbar}}
                </header>
                <div id="sortableTable" class="card-body">
                    <table class="table table-bordered sortableTable responsive-table">
                        {{> tableSortable}}
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>
<!-- /.container-fluid -->