/*********************************************************/
/*                 right onoffcanvas                    */
/*********************************************************/

#right {
  width: @SidebarWidth;
  overflow-y: auto;
  padding: 1rem;
}
