<style>
  .bgimage {
    float: left;
    width:150px;
    height:150px;
    margin:5px;
    border: 5px solid #ccc;
  }
</style>
{{#if bgimage}}
    {{#each bgimage}}
        <div class="bgimage bg-{{.}}" alt="{{.}}"></div>
    {{/each}}
{{/if}}