<div class="media user-media bg-dark dker">
    <div class="user-media-toggleHover">
        <span class="fa fa-user"></span>
    </div>
    <div class="user-wrapper bg-dark">
        <a class="user-link" href="">
            <img class="media-object img-thumbnail user-img" alt="User Picture" src="{{assets}}/img/user.gif">
            <span class="label label-danger user-label">16</span>
        </a>

        <div class="media-body">
            <h5 class="media-heading">Archie</h5>
            <ul class="list-unstyled user-info">
                <li><a href="">Administrator</a></li>
                <li>Last Access : <br>
                    <small><i class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- #menu -->
<ul id="menu" class="bg-blue dker">
    <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
    <li class="{{#is title 'Dashboard'}}active{{/is}}">
      <a href="dashboard.html">
	<i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Dashboard</span>
      </a>
    </li>
    <li class="{{#is topTitle 'Layouts'}}active{{/is}}">
        <a href="javascript:;">
            <i class="fa fa-building "></i>
            <span class="link-title">Layouts</span>
            <span class="fa arrow"></span>
        </a>
        <ul>
            <li class="{{#is title 'Fixed Header'}}active{{/is}}">
                <a href="fxh.html"><i class="fa fa-angle-right"></i>&nbsp;Fixed Header</a>
            </li>
            <li class="{{#is title 'Fixed Menu'}}active{{/is}}">
                <a href="fxm.html"><i class="fa fa-angle-right"></i>&nbsp;Fixed Menu</a>
            </li>
            <li class="{{#is title 'Fixed Header & Menu'}}active{{/is}}">
                <a href="fxhm.html"><i class="fa fa-angle-right"></i>&nbsp;Fixed Header & Menu</a>
            </li>
            <li class="{{#is title 'Mini Sidebar'}}active{{/is}}">
                <a href="sm.html"><i class="fa fa-angle-right"></i>&nbsp;Mini Sidebar</a>
            </li>
        </ul>
    </li>
    <li class="{{#is topTitle 'Components'}}active{{/is}}">
        <a href="javascript:;">
            <i class="fa fa-tasks"></i>
            <span class="link-title">Components</span>
	    <span class="fa arrow"></span>
        </a>
        <ul>
            <li class="{{#is title "Icon"}}active{{/is}}">
	      <a href="icon.html"><i class="fa fa-angle-right"></i>&nbsp;Icon</a>
            </li>
            <li class="{{#is title "Buttons"}}active{{/is}}">
	      <a href="button.html"><i class="fa fa-angle-right"></i>&nbsp;Button</a>
	    </li>
            <li class="{{#is title "Progress"}}active{{/is}}">
	      <a href="progress.html"><i class="fa fa-angle-right"></i>&nbsp;Progress</a>
	    </li>
            <li class="{{#is title "Pricing Table"}}active{{/is}}">
	      <a href="pricing.html"><i class="fa fa-credit-card"></i>&nbsp;Pricing Table</a>
	    </li>
            <li class="{{#is title "Bg Image"}}active{{/is}}">
	      <a href="bgimage.html"><i class="fa fa-angle-right"></i>&nbsp;Bg Image</a>
	    </li>
	    <li class="{{#is title "Bg Color"}}active{{/is}}">
	      <a href="bgcolor.html"><i class="fa fa-angle-right"></i>&nbsp;Bg Color</a>
	    </li>
        </ul>
    </li>
    <li class="{{#is topTitle "Forms"}}active{{/is}}">
        <a href="javascript:;">
	  <i class="fa fa-pencil"></i>
	  <span class="link-title">
            Forms
	  </span>
	  <span class="fa arrow"></span>
        </a>
        <ul>
	  <li class="{{#is title 'Form General'}}active{{/is}}">
	    <a href="form-general.html"><i class="fa fa-angle-right"></i>&nbsp;General</a>
	  </li>
	  <li class="{{#is title 'Form Validation'}}active{{/is}}">
	    <a href="form-validation.html"><i class="fa fa-angle-right"></i>&nbsp;Validation</a>
	  </li>
	  <li class="{{#is title 'Form WYSIWYG'}}active{{/is}}">
	    <a href="form-wysiwyg.html"><i class="fa fa-angle-right"></i>&nbsp;WYSIWYG</a>
	  </li>
	  <li class="{{#is title 'Form Wizard'}}active{{/is}}">
	    <a href="form-wizard.html"><i class="fa fa-angle-right"></i>&nbsp;Wizard &amp; File Upload</a>
	  </li>
        </ul>
    </li>
    <li{{#is title "Table"}} class="active"{{/is}}><a href="table.html"><i class="fa fa-table"></i>
    <span class="link-title">Tables</span>
    </a></li>
    <li{{#is title "File Manager"}} class="active"{{/is}}><a href="file.html"><i class="fa fa-file"></i>
    <span class="link-title">
      File Manager
          </span></a></li>
    <li{{#is title "Typography"}} class="active" {{/is}}><a href="typography.html"><i class="fa fa-font"></i>
    <span class="link-title">
            Typography
          </span> </a></li>
    <li{{#is title "Maps"}} class="active" {{/is}}><a href="maps.html"><i class="fa fa-map-marker"></i><span class="link-title">
            Maps
          </span></a></li>
    <li{{#is title "Charts"}} class="active" {{/is}}><a href="chart.html"><i class="fa fa fa-bar-chart-o"></i>
    <span class="link-title">
            Charts
          </span></a></li>
    <li{{#is title "Calendar"}} class="active" {{/is}}><a href="calendar.html"><i class="fa fa-calendar"></i>
    <span class="link-title">
            Calendar
          </span></a></li>
    <li>
        <a href="javascript:;">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="link-title">
              Error Pages
            </span>
	    <span class="fa arrow"></span>
        </a>
        <ul>
            <li><a href="403.html"><i class="fa fa-angle-right"></i>&nbsp;403</a></li>
            <li><a href="404.html"><i class="fa fa-angle-right"></i>&nbsp;404</a></li>
            <li><a href="405.html"><i class="fa fa-angle-right"></i>&nbsp;405</a></li>
            <li><a href="500.html"><i class="fa fa-angle-right"></i>&nbsp;500</a></li>
            <li><a href="503.html"><i class="fa fa-angle-right"></i>&nbsp;503</a></li>
            <li><a href="offline.html"><i class="fa fa-angle-right"></i>&nbsp;offline</a></li>
            <li><a href="countdown.html"><i class="fa fa-angle-right"></i>&nbsp;Under Construction</a></li>
        </ul>
    </li>
    <li{{#is title "Grid"}} class="active" {{/is}}><a href="grid.html"><i class="fa fa-columns"></i>
    <span class="link-title">
    Grid
    </span>
    </a></li>
    <li{{#is title "Blank Page"}} class="active" {{/is}}><a href="blank.html"><i class="fa fa-square-o"></i>
    <span class="link-title">
    Blank Page
    </span>
    </a></li>
    <li class="nav-divider"></li>
    <li><a href="login.html"><i class="fa fa-sign-in"></i>
    <span class="link-title">
    Login Page
    </span>
    </a></li>
    <li>
    	<a href="javascript:;">
    	<i class="fa fa-code"></i>
    	<span class="link-title">
    	Unlimited Level Menu 
    	</span>
    	<span class="fa arrow"></span></a>
    	<ul>
	  <li>
	    <a href="javascript:;">Level 1 <span class="fa arrow"></span></a>
	    <ul>
	      <li><a href="javascript:;">Level 2</a></li>
	      <li><a href="javascript:;">Level 2</a></li>
	      <li>
		<a href="javascript:;">Level 2 <span class="fa arrow"></span></a>
		<ul>
		  <li><a href="javascript:;">Level 3</a></li>
		  <li><a href="javascript:;">Level 3</a></li>
		  <li>
		  <a href="javascript:;">Level 3 <span class="fa arrow"></span></a>
		    <ul>
		      <li><a href="javascript:;">Level 4</a></li>
		      <li><a href="javascript:;">Level 4</a></li>
		      <li>
			<a href="javascript:;">Level 4 <span class="fa arrow"></span></a>
			<ul>
			  <li><a href="javascript:;">Level 5</a></li>
			  <li><a href="javascript:;">Level 5</a></li>
			  <li><a href="javascript:;">Level 5</a></li>
			</ul>
		      </li>
		    </ul>
		  </li>
		  <li><a href="javascript:;">Level 4</a></li>
		</ul>
	      </li>
	      <li><a href="javascript:;">Level 2</a></li>
	    </ul>
	  </li>
	  <li><a href="javascript:;">Level 1</a></li>
	  <li>
	    <a href="javascript:;">Level 1 <span class="fa arrow"></span></a>
	    <ul>
	      <li><a href="javascript:;">Level 2</a></li>
	      <li><a href="javascript:;">Level 2</a></li>
	      <li><a href="javascript:;">Level 2</a></li>
	    </ul>
	  </li>
    	</ul>
    </li>

   
</ul>
<!-- /#menu -->