<!-- BEGIN: /.metis-head -->
<header class="metis-head border-top border-secondary row mx-0">
  <div class="search-bar bg-dark py-2 px-3 col-12 col-lg-3">
    <form class="main-search border-bottom border-secondary" action="">
      <div class="input-group">
        <input type="search" class="form-control bg-transparent border-0 shadow-none text-light"
          placeholder="Live Search ...">
        <button class="btn btn-dark bg-transparent border-0 text-secondary" type="submit"><i
            class="fa fa-search"></i></button>
      </div>
    </form>
    <!-- /.main-search -->
  </div>
  <!-- /.search-bar -->
  <div class="main-bar bg-dark text-light flex-fill d-flex align-items-center col-12 col-lg-9">
    <h3 class="m-0">
      <i class="{{ icon }}"></i>&nbsp;
      {{ title }}
    </h3>
  </div>
  <!-- /.main-bar -->
</header>
<!-- END: /.metis-head -->