<div id="left" class="offcanvas offcanvas-start show bg-dark" tabindex="-1" aria-labelledby="offcanvasStartLabel"
  data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header d-lg-none">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">&nbsp;</h5>
    <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body px-0">

    <div class="dropdown">
      <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle"
        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="36" height="36">
      </a>
      <ul class="dropdown-menu text-small shadow dropdown-menu-dark" aria-labelledby="dropdownUser3">
        <li class="nav-item"><a class="dropdown-item" href="#">New project...</a></li>
        <li class="nav-item"><a class="dropdown-item" href="#">Settings</a></li>
        <li class="nav-item"><a class="dropdown-item" href="#">Profile</a></li>
        <li class="nav-item">
          <hr class="dropdown-divider">
        </li>
        <li class="nav-item"><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    <!-- #menu -->
    <ul id="menu" class="nav flex-column text-light">
      <li class="px-3 py-2 text-uppercase small text-light text-opacity-75">Menu</li>
      <li class="bg-black bg-opacity-25 p-2"></li>
      <li class="nav-item">
        <a class="nav-link link-light" href="dashboard.html">
          <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="has-arrow nav-link link-light">
          <i class="fa fa-building "></i>
          <span class="link-title">Layouts</span>
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-light" href="boxed.html">
              <i class="fa fa-angle-right"></i>&nbsp; Boxed Layout </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-header-boxed.html">
              <i class="fa fa-angle-right"></i>&nbsp; Boxed Layout &amp; Fixed Header </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-header-fixed-mini-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed Header and Fixed Mini Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-header-menu.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed Header &amp; Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-header-mini-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed Header &amp; Mini Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-header.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed Header </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-menu-boxed.html">
              <i class="fa fa-angle-right"></i>&nbsp; Boxed Layout &amp; Fixed Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-menu.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fixed-mini-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; Fixed &amp; Mini Menu </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="fxhmoxed.html">
              <i class="fa fa-angle-right"></i>&nbsp; Boxed and Fixed Header &amp; Nav </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-header-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Header &amp; Sidebars </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-header.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Header </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-left-right-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Left &amp; Right Sidebar </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-left-sidebar-main-search.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Left Sidebar &amp; Main Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-left-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Left Sidebar </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-main-search.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Main Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="no-right-sidebar.html">
              <i class="fa fa-angle-right"></i>&nbsp; No Right Sidebar </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="sm.html">
              <i class="fa fa-angle-right"></i>&nbsp; Mini Sidebar </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="has-arrow nav-link link-light">
          <i class="fa fa-tasks"></i>
          <span class="link-title">Components</span>

        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-light" href="bgcolor.html">
              <i class="fa fa-angle-right"></i>&nbsp; Bg Color </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="bgimage.html">
              <i class="fa fa-angle-right"></i>&nbsp; Bg Image </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="button.html">
              <i class="fa fa-angle-right"></i>&nbsp; Buttons </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="icon.html">
              <i class="fa fa-angle-right"></i>&nbsp; Icon </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="pricing.html">
              <i class="fa fa-angle-right"></i>&nbsp; Pricing Table </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="progress.html">
              <i class="fa fa-angle-right"></i>&nbsp; Progress </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="has-arrow nav-link link-light">
          <i class="fa fa-pencil"></i>
          <span class="link-title">
            Forms
          </span>

        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-light" href="form-general.html">
              <i class="fa fa-angle-right"></i>&nbsp; Form General </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="form-validation.html">
              <i class="fa fa-angle-right"></i>&nbsp; Form Validation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="form-wizard.html">
              <i class="fa fa-angle-right"></i>&nbsp; Form Wizard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="form-wysiwyg.html">
              <i class="fa fa-angle-right"></i>&nbsp; Form WYSIWYG </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="table.html">
          <i class="fa fa-table"></i>
          <span class="link-title">Tables</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="typography.html">
          <i class="fa fa-font"></i>
          <span class="link-title">
            Typography
          </span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="maps.html">
          <i class="fa fa-map-marker"></i><span class="link-title">
            Maps
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="chart.html">
          <i class="fa fa fa-bar-chart-o"></i>
          <span class="link-title">
            Charts
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="calendar.html">
          <i class="fa fa-calendar"></i>
          <span class="link-title">
            Calendar
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="has-arrow nav-link link-light">
          <i class="fa fa-exclamation-triangle"></i>
          <span class="link-title">
            Error Pages
          </span>

        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-light" href="403.html">
              <i class="fa fa-angle-right"></i>&nbsp;403</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="404.html">
              <i class="fa fa-angle-right"></i>&nbsp;404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="405.html">
              <i class="fa fa-angle-right"></i>&nbsp;405</a>
          </li>
          <li class="nav-item">
            <a href="500.html">
              <i class="fa fa-angle-right"></i>&nbsp;500</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="503.html">
              <i class="fa fa-angle-right"></i>&nbsp;503</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="offline.html">
              <i class="fa fa-angle-right"></i>&nbsp;offline</a>
          </li>
          <li class="nav-item">
            <a href="countdown.html">
              <i class="fa fa-angle-right"></i>&nbsp;Under Construction</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="grid.html">
          <i class="fa fa-columns"></i>
          <span class="link-title">
            Grid
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="blank.html">
          <i class="fa fa-square-o"></i>
          <span class="link-title">
            Blank Page
          </span>
        </a>
      </li>
      <li class="bg-black bg-opacity-25 p-2"></li>
      <li class="nav-item">
        <a class="nav-link link-light" href="login.html">
          <i class="fa fa-sign-in"></i>
          <span class="link-title">
            Login Page
          </span>
        </a>
      </li>

      <li class="bg-black bg-opacity-25 p-2"></li>

      <li class="nav-item">
        <a class="nav-link link-light" href="#" class="has-arrow nav-link link-light">
          <i class="fa fa-code"></i>
          <span class="link-title">
            Unlimited Level Menu
          </span>

        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="has-arrow nav-link link-light">Level 1 </a>
            <ul class="nav flex-column">
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
              <li class="nav-item">
                <a href="#" class="has-arrow nav-link link-light">Level 2 </a>
                <ul class="nav flex-column">
                  <li class="nav-item"> <a href="#" class="nav-link link-light">Level 3</a> </li>
                  <li class="nav-item"> <a href="#" class="nav-link link-light">Level 3</a> </li>
                  <li class="nav-item">
                    <a href="#" class="has-arrow nav-link link-light">Level 3 </a>
                    <ul class="nav flex-column">
                      <li class="nav-item"> <a href="#" class="nav-link link-light">Level 4</a> </li>
                      <li class="nav-item"> <a href="#" class="nav-link link-light">Level 4</a> </li>
                      <li class="nav-item">
                        <a href="#" class="has-arrow nav-link link-light">Level 4 </a>
                        <ul class="nav flex-column">
                          <li class="nav-item"> <a href="#" class="nav-link link-light">Level 5</a> </li>
                          <li class="nav-item"> <a href="#" class="nav-link link-light">Level 5</a> </li>
                          <li class="nav-item"> <a href="#" class="nav-link link-light">Level 5</a> </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item"> <a href="#" class="nav-link link-light">Level 4</a> </li>
                </ul>
              </li>
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
            </ul>
          </li>
          <li class="nav-item"> <a href="#" class="nav-link link-light">Level 1</a> </li>
          <li class="nav-item">
            <a href="#" class="has-arrow nav-link link-light">Level 1 </a>
            <ul class="nav flex-column">
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
              <li class="nav-item"> <a href="#" class="nav-link link-light">Level 2</a> </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /#menu -->
  </div>
</div>
<!-- /#left -->