<form class="main-search" action="">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Live Search ...">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm text-muted" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
<!-- /.main-search -->