<!-- .navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand py-0" href="index.html">
      <img src="assets/img/logo.png" alt="Metis" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#metisNavbarCollapse"
      aria-controls="metisNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BEGIN: .metis-topnav -->
    <div class="metis-topnav text-end order-lg-last">

      <div class="btn-group btn-group-sm" role="group" aria-label="Fullscreen">
        <button id="toggleFullScreen" type="button" class="btn btn-light" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Fullscreen">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </button>
      </div>

      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="E-mail">
          <i class="fa fa-envelope"></i>
          <span class="badge bg-warning">5</span>
        </button>
        <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Messages">
          <i class="fa fa-envelope"></i>
          <span class="badge bg-danger">4</span>
        </button>
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#helpModal" title="Help">
          <i class="fa fa-question"></i>
        </button>
      </div>

      <div class="btn-group btn-group-sm" role="group" aria-label="Logout">
        <a href="login.html" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout">
          <i class="fa fa-power-off"></i>
        </a>
      </div>

      <div class="btn-group btn-group-sm" role="group" aria-label="Sidebar">

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#metis-sidebar-start"
          aria-controls="left" title="Show / Hide Left">
          <i class="fa fa-bars"></i>
        </button>

        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#right"
          aria-controls="offcanvasRight">
          <i class="fa fa-fw fa-comment"></i>
        </button>

      </div>

    </div>
    <!-- END: /.metis-topnav -->

    <div class="collapse navbar-collapse" id="metisNavbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="table.html">Tables</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Form Elements
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="form-general.html">General</a></li>
            <li><a class="dropdown-item" href="form-validation.html">Validation</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="form-wysiwyg.html">WYSIWYG</a></li>
            <li><a class="dropdown-item" href="form-wizard.html">Wizard &amp; File Upload</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->