<!-- BEGIN: /#metis-sidebar-end -->
<!-- BEGIN: offcanvas -->
<div class="metis-sidebar-end offcanvas offcanvas-end" tabindex="-1" id="metis-sidebar-end" aria-labelledby="metis-sidebar-end">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas End</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <h3>Direction</h3>
        <div class="form-check form-switch ps-0">
            <label class="form-check-label float-start pe-5" for="direction">LTR</label>
            <input class="form-check-input" type="checkbox" role="switch" id="direction">
            <label class="form-check-label" for="direction">RTL</label>
        </div>
    </div>
</div>

<script>
    const direction = document.querySelector('#direction');
    const bootstrapCss = document.querySelector('#bootstrap-css');
    let rtlText = ''

    direction.addEventListener('change', e => {
        rtlText = e.target.checked ? '.rtl' : ''
        document.firstElementChild.setAttribute('dir', e.target.checked ? 'rtl' : 'ltr');
        bootstrapCss.setAttribute('href', `assets/lib/bootstrap/css/bootstrap${rtlText}.css`)
    });
</script>
<!-- END: offcanvas -->
<!-- END: /#metis-sidebar-end -->