<thead>
    <tr>
        <th>#<i class="fa sort"></i></th>
        <th>First Name<i class="fa sort"></i></th>
        <th>Last Name<i class="fa sort"></i></th>
        <th>Score<i class="fa sort"></i></th>
    </tr>
</thead>
<tbody>
    {{#if tableBase}}
    {{#each tableBase}}
    <tr>
        <td>{{Tid}}</td>
        <td>{{First}}</td>
        <td>{{Last}}</td>
        <td>{{Score}}</td>
    </tr>
    {{/each}}
    {{/if}}
</tbody>