<div class="ms-auto">
  <nav class="d-flex align-items-center gap-1">
      <button class="btn btn-sm card-collapse-toggle" aria-label="Collapse"><i class="bi bi-dash-lg"></i></button>
      <button class="btn btn-sm card-fs-toggle" aria-label="Fullscreen"><i class="bi bi-fullscreen"></i></button>
      <button type="button" class="btn-close" aria-label="Close"></button>
  </nav>
</div>