<div class="ms-auto">
  <nav class="d-flex align-items-center gap-1">
      <a href="#" class="btn btn-sm collapse-box">
          <i class="fa fa-minus"></i>
      </a>
      <a href="#" class="btn btn-sm card-fs-toggle">
          <i class="bi bi-fullscreen"></i>
      </a>
      <button type="button" class="btn-close" aria-label="Close"></button>
  </nav>
</div>