<div class="toolbar">
  <nav style="padding: 8px;">
      <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
          <i class="fa fa-minus"></i>
      </a>
      <a href="javascript:;" class="btn btn-default btn-xs full-box">
          <i class="fa fa-expand"></i>
      </a>
      <a href="javascript:;" class="btn btn-danger btn-xs close-box">
          <i class="fa fa-times"></i>
      </a>
  </nav>
</div>