/*********************************************************/
/*                 Layout Styles                         */
/*********************************************************/
/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/
.Wrap,
#wrap {
  margin: 0 auto;
  position: relative;
}
#left {
  transition: all 0.3s ease-in-out;
  width: 250px;
  z-index: 999;
}
#left {
  position: absolute;
  left: -250px;
}
.sidebar-left-opened #left {
  left: 0;
}
@media (min-width: 768px) {
  #left {
    position: sticky;
    float: left;
    left: auto;
  }
  .sidebar-left-hidden #left {
    width: 0;
    visibility: hidden;
  }
  .sidebar-left-mini #left {
    width: 50px;
  }
  #content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
}
/* ================== END Template Layout ============== */
/*********************************************************/
/*                 right onoffcanvas                    */
/*********************************************************/
#right {
  width: 250px;
  overflow-y: auto;
  padding: 1rem;
}
/* BEGIN TOP bar */
#top .navbar {
  margin-bottom: 0;
  border-top: 3px solid #CD0067;
}
#top .navbar-brand {
  padding: 0;
}
#top .topnav {
  margin: 10px 0;
  text-align: right;
}
@media (min-width: 768px) {
  #top .topnav {
    float: right;
  }
}
/* END TOP bar */
/* BEGIN header.head bar */
.head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.head .search-bar {
  margin: 0 auto;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.head .search-bar .main-search {
  border-bottom: 1px solid #7c7c7c;
}
.head .search-bar .main-search input[type="text"] {
  background-color: transparent;
  border-color: transparent;
  color: #ccc;
  box-shadow: none;
}
.head .search-bar .main-search button,
.head .search-bar .main-search input[type=submit] {
  background: transparent;
  border: transparent;
}
@media (min-width: 768px) {
  .head .search-bar {
    border-bottom-width: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
  .side-right .head .search-bar {
    border-right-width: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
}
.head .main-bar {
  padding: 10px;
}
.head .main-bar h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #bababa;
}
@media (min-width: 768px) {
  .head .main-bar h3 {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .head .search-bar .main-search {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .search-bar {
    float: left;
    padding: 10px 4px;
  }
  .side-right .search-bar {
    float: right;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px;
  }
  .main-bar {
    display: block;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .search-bar {
    width: 250px;
    padding: 10px 15px;
  }
  .search-bar .input-group-btn {
    display: table-cell;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px 0 0 3px;
  }
  .mini-sidebar .search-bar .input-small.form-control {
    border-radius: 3px;
  }
}
/** END header.head bar */
#menu,
#menu ul,
#menu li,
#menu a {
  padding: 0;
  margin: 0;
  color: #f4f4f4;
}
#menu,
#menu ul {
  list-style: none;
}
#menu li,
#menu a {
  position: relative;
  display: block;
}
#menu a,
#menu a:hover,
#menu a:focus,
#menu a:active {
  text-decoration: none;
}
#menu ul {
  background: rgba(0, 0, 0, 0.3);
}
#menu > li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 0 10px 15px;
}
#menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
#menu > li:hover > a,
#menu > li:focus > a {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: none;
}
#menu > li ul {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  border-left-width: 0;
}
#menu > li ul a {
  padding: 11px 0 11px 30px;
  font-size: 13px;
}
#menu > li ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .sidebar-left-mini #menu > li > ul {
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: none;
    min-width: 200px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    top: 100%;
  }
  .sidebar-left-mini #menu > li:hover > ul {
    display: inherit;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .sidebar-left-mini #menu > li > a .fa {
    font-size: 18px;
  }
  .sidebar-left-mini #menu > li > a .fa.arrow {
    display: none;
  }
  .sidebar-left-mini #menu > li > a .link-title {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    padding: 10px 30px;
  }
  .sidebar-left-mini #menu > li:hover > a > .link-title {
    display: block;
    min-width: 200px;
  }
}
body:not(.sidebar-left-mini) #menu .nav-header {
  padding: 3px 15px !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}
#menu .nav-divider {
  height: 1rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.sidebar-left-mini #menu .nav-header {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
#menu .fa.arrow {
  float: right;
  padding-top: 3px;
  margin-right: 15px;
}
#menu .fa.arrow:before {
  content: "\f104";
}
#menu .active > a > .fa.arrow:before {
  content: "\f107";
}
/* BEGIN CONTENT STYLES */
#content {
  transition: width 0.4s;
}
.outer {
  padding: 10px;
  background-color: #6e6e6e;
}
.inner {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  background: #fff;
  border: 10px solid #e4e4e4;
}
@media (min-width: 768px) {
  .inner {
    float: left;
    width: 100%;
  }
}
/* END CONTENT STYLES */
/* ==========================================================================
   Footer
   ========================================================================== */
.Footer,
#footer {
  margin: 0 auto;
  color: #f4f4f4;
  border-top: 1px solid #222;
}
.Footer p,
#footer p {
  padding: 1.2rem 0;
  margin: 0;
  text-align: center;
}
/* END Footer
   ========================================================================== */
/*********************************************************/
/*                 Component Styles                      */
/*********************************************************/
/* BEGIN Pricing Table */
.pricing-table {
  text-align: center;
  padding: 0;
  margin: 30px 0;
  line-height: 150%;
}
.pricing-table li {
  list-style: none;
}
.pricing-table > li {
  background-image: linear-gradient(to bottom, #EBEEF5 0%, #fff 100%);
  color: #444;
  transition: all 0.2s;
}
.pricing-table.dark > li {
  background-image: linear-gradient(to bottom, #666 0%, #444 100%);
  color: #fff;
}
.pricing-table.dark > li.active.default {
  color: #fff;
}
.pricing-table > li.active {
  color: #fff;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pricing-table > li.active.default {
  color: #444;
}
@media (min-width: 768px) {
  .pricing-table > li.active {
    transform: scale(1.03);
  }
}
.pricing-table > li.active.primary {
  background-image: linear-gradient(to bottom, #2e6da4 0%, #337ab7 100%);
}
.pricing-table > li.active.success {
  background-image: linear-gradient(to bottom, #4cae4c 0%, #5cb85c 100%);
}
.pricing-table > li.active.warning {
  background-image: linear-gradient(to bottom, #eea236 0%, #f0ad4e 100%);
}
.pricing-table > li.active.danger {
  background-image: linear-gradient(to bottom, #d43f3a 0%, #d9534f 100%);
}
.pricing-table > li.active.info {
  background-image: linear-gradient(to bottom, #46b8da 0%, #5bc0de 100%);
}
.pricing-table .footer {
  padding: 15px;
  margin: 15px -15px 0;
  background: #eee;
}
.pricing-table.dark .footer {
  background: #333;
}
.pricing-table h3 {
  text-transform: uppercase;
  padding: 15px 0;
}
.pricing-table .price-body {
  width: 125px;
  height: 125px;
  margin: 0 auto 15px auto;
  border: 2px solid #444;
  border-radius: 100%;
  display: table;
}
.pricing-table.dark .price-body {
  border-color: #fff;
}
.pricing-table > li.active.primary .price-body,
.pricing-table > li.active.success .price-body,
.pricing-table > li.active.warning .price-body,
.pricing-table > li.active.danger .price-body,
.pricing-table > li.active.info .price-body {
  border-color: #fff;
}
.pricing-table .price {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  /*Lets vertically center align the price now*/
  vertical-align: middle;
  display: table-cell;
}
.pricing-table .price .price-figure {
  display: block;
}
.pricing-table .price .price-term {
  font-size: 11px;
  font-weight: normal;
}
.pricing-table .features ul {
  margin: 0;
  padding: 0;
}
.pricing-table .features ul li {
  padding: 5px 0;
}
/* END Pricing Table */
/* horizontal rules */
.inner hr {
  margin-top: 10px;
  border-top-color: #ccc;
}
/* BEGIN PROGRESSBAR STYLES */
.progress.xs {
  height: 6px;
}
.progress.sm {
  height: 10px;
}
.progress.md {
  height: 12px;
}
.progress.lg {
  height: 28px;
}
/* END PROGRESSBAR STYLES */
.quick-btn {
  background: #EEEEEE;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444444;
  display: inline-block;
  height: 80px;
  margin: 10px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  position: relative;
}
.quick-btn span {
  display: block;
}
.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}
.quick-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589;
}
.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}
.simpleTable tr th:first-child,
.simpleTable tr td:first-child {
  text-align: center;
  width: 27px;
}
.stats_box {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}
.stats_box li {
  background: #EEEEEE;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  float: left;
}
.stats_box .stat_text {
  float: left;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  text-align: left;
  min-width: 150px;
  position: relative;
}
.stats_box .stat_text strong {
  display: block;
  font-size: 16px;
}
.stats_box .stat_text .percent {
  color: #444;
  float: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 17px;
}
.stats_box .stat_text .percent.up {
  color: #46a546;
}
.stats_box .stat_text .percent.down {
  color: #C52F61;
}
/* BEGIN ERROR PAGES STYLES */
body.error {
  padding-top: 40px;
  background: url("../img/pattern/always_grey.png") repeat rgba(68, 68, 68, 0.9);
}
body.error .logo h1 {
  color: #FFFFFF;
  font-size: 100px;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBBBBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAAAAA, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  body.error .logo h1 {
    font-size: 60px;
  }
}
/* END ERROR PAGES STYLES */
/* BEGIN LOGIN PAGE STYLES */
.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/pattern/irongrip.png") repeat #444;
}
.login .form-signin {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
  margin-bottom: 10px;
}
.login .form-signin .checkbox {
  font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
  z-index: 2;
}
.login .form-signin input.top {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login .form-signin input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
.login .form-signin input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* END LOGIN PAGE STYLES */
