<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}

    <link rel="stylesheet" href="{{assets}}/css/countdown.css">

</head>

<body class="bg-dark lter">
    {% body %}

    <!--jQuery -->
    <script src="{{assets}}/lib/jquery/jquery{{#if production}}.min{{/if}}.js"></script>

    <!--Bootstrap -->
    <script src="{{assets}}/lib/bootstrap/js/bootstrap{{#if production}}.min{{/if}}.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.plugin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.1/jquery.countdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="{{assets}}/js/countdown.js"></script>
</body>

</html>
