<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}

</head>

<body class="login">

    {% body %}


    <!--jQuery -->
    <script src="{{assets}}/lib/jquery/jquery{{#if production}}.min{{/if}}.js"></script>

    <!--Bootstrap -->
    <script src="{{assets}}/lib/bootstrap/js/bootstrap{{#if production}}.min{{/if}}.js"></script>


    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.list-inline li > a').click(function() {
                    var activeForm = $(this).attr('href') + ' > form';
                    //console.log(activeForm);
                    $(activeForm).addClass('animated fadeIn');
                    //set timer to 1 seconds, after that, unload the animate animation
                    setTimeout(function() {
                        $(activeForm).removeClass('animated fadeIn');
                    }, 1000);
                });
            });
        })(jQuery);
    </script>
</body>

</html>
