/* BEGIN FOOTER */

#footer {
  background: url("../img/pattern/px_by_Gre3g.png") repeat #444;
  color: #f9f9f9;
  margin: 0 auto;
  .box-shadow(0px -1px 0px 0px rgba(0, 0, 0, .05));
  border-top: 1px solid #222;
  
  p {
    padding: 12px 0 0;
    text-align: center;
  }
}

/** END FOOTER */