/*********************************************************/
/*          Begin top-header-content-footer Styles                           */
/*********************************************************/

/* Wrapper styles ------------------------------------*/



/* --------------- TOP BAR STYLES -------------------- */


/* --------------- HEADER.head STYLES -------------------- */

/* --------------- LEFT NAVIGATION STYLES -------------------- */
#left {
  .user-media {
    a {
      color: #888888;
    }
    a.user-link {
      .user-label {
        background-color: #9A004D;
      }
    }
  }
}
/* --------------- FOOTER STYLES -------------------- */
#footer {
  margin: 0 auto;
  border-top: 2px solid #060606;
  color: #f9f9f9;
  background-color: #444;
  background-image: url("../img/px_by_Gre3g.png");
  background-repeat: repeat;
  p {
    padding-top: 12px;
    text-align: center;
  }
}
/* --------------- CONTENT STYLES -------------------- */
#content {
  .outer {
    background-color: #6e6e6e;
    padding: 10px;
    .clearfix();
    .inner {
      background: #fff;
      border: 10px solid #e4e4e4;
      .make-column(12);
    }
  }
}





/* ============== END top-header-content-footer Styles ================= */